

body{
    display: flex;
    flex-direction: column;
    align-content: center;

    background-color: rgb(137,207,240);
    background-image: url("resources/index/snow02.gif");
    background-repeat: no-repeat;
    background-size: cover;


    font-family: "Mountains of Christmas", serif;
    font-weight: 400;
    font-style: normal;
}




div{
  border: solid 2px rgb(0,119,182);  
  background-color: rgba(167,207,240,0.5);
  backdrop-filter: blur(4px);
}

img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.column{
  display: flex;
  height: 40vh;
  width: 40vw;
}

.character{
  height: 50%;
  width: 10%;
}

#main{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#treeRow{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  
  height: 40vh;
  width: 90vw;


}

#tree{
  height: 90%;
  width: 15%;


}