body{
    background-image: url("../../resources/stardew/wallpaper.jpg");

}

img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}


p{
    font-family: 'myFont';
    color: #6C3500;
    font-size: 64px;
}

@font-face{
    font-family: 'myFont';
    src: url("../../resources/stardew/Stardew_Valley.otf") format("opentype");
}

.box{
    display: flex;
    flex-direction: row;
    background-image: url(../../resources/stardew/planks.jpg);
    filter: saturate(75%);
    width: 80vw;
    height: 40vh;
    border: solid 3px #DB7B03;

}

.text{
    width: 60%;
    height: 100%;
    background-color: #F7B970;
    box-shadow: inset 0 0 0 5px #DB7B03;
    
    filter: saturate(150%);
}

#portBox{
    display: flex;
    width: 40%;
    height: 100%;

    justify-content: center;
    align-items: center;
}

#portDiv{

    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#port{
    background-color: #F7B970;
    border: 10px solid #DB7B03;
    width: 80%;
    height: 70%;
}

#name{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 15%;

    background-color: white;
}