body{
    background-color: blue;

}

div{
    width: 500px;
    height: 700px;
    background-color: #F7B970;
    box-shadow: inset 0 0 0 5px #DB7B03;

}
p{
    font-family: 'myFont';
    color: #6C3500;
    font-size: 64px;
}

@font-face{
    font-family: 'myFont';
    src: url("../../resources/stardew/Stardew_Valley.otf") format("opentype");
}